.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.task-input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}


.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3f2fd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
}



button {
    background-color: #6200ee;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.task-list li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .task-list li div input[type="text"] {
    flex: 2;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .task-list li div input[type="number"] {
    width: 50px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .task-list li div button {
    margin-left: 5px;
    padding: 5px 10px;
  }
  
button:hover {
    background-color: #3700b3;
}

button:active {
    background-color: #23036a;
}

.edit-btn {
    background-color: #ff9800;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: #e65100;
}

.edit-btn:active {
    background-color: #d32f2f;
}

.delete-btn {
    background-color: #ff1744;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #d50000;
}

.delete-btn:active {
    background-color: #9b0000;
}

.save-btn {
    background-color: #4caf50;
    font-size: 14px;
}

.save-btn:hover {
    background-color: #388e3c;
}

.save-btn:active {
    background-color: #1b5e20;
}


.logout-btn-container {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logout-btn-container button {
    background-color: #3700b3;
    width: 80%;
}

.logout-btn-container button:hover {
    background-color: #23036a;
}

.task-input-container input[type="number"] {
    width: 60px;
    margin-right: 5px;
}
